.footer__top {
     background-image: url(../img/footer/footer-background.jpg);
     background-position: center;
     background-repeat: no-repeat;
     height: 100%;
}

.footer__middle {
     background-color: var(--black-color);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.footer__bottom {
     background-color: var(--black-color);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.footer__norway-logo {
     width: 176px;
     height: auto;
     margin-top: 60px;
     margin-bottom: 32px;
     padding: 0px;
     display: block;
}

.footer__nav {
     margin: 3px;
     font-weight: bold;
}

.footer__links {
     margin: 14px;
     display: flex;
     flex-direction: column;
}

.footer__link-item {
     display: flex;
     justify-content: center;
     padding: 7px;
}

.footer__par {
     margin-top: 5px;
     color: var(--white-color);
     font-size: 12px;
     font-weight: bold;
}

.footer__svgs-bottom {
     fill: var(--main-text-dark-color);
     display: flex;
     margin-bottom: 27px;
     margin-top: 15px;
     margin-left: -7.5px;
     margin-right: -7.5px;
}

.footer__facebook-svg {
     margin-right: 15px;
}

.footer_youtube-svg {
     margin-left: 15px;
}

.footer__email-svg {
     color: var(--white-color);
     background-color: rgba(0, 0, 0, 0.65);
     text-align: center;
     display: inline-block;
     width: 272px;
     height: 228.39px;
     padding-block: 35px;
}

.email {
     margin-block: 8px;
}

.email__write-us {
     margin: 15px;
     font-weight: bold;
     font-size: 23px;
     padding: 2px;
}

.email__address {
     font-size: 15px;
}

.link__email {
     text-decoration: underline;
}

.footer__visit-us-svg {
     color: var(--white-color);
     background-color: rgba(0, 0, 0, 0.65);
     text-align: center;
     display: inline-block;
     width: 272px;
     height: 228.39px;
     padding-block: 35px;
}

.location {
     margin-block: 5px;
}

.location__visit-us{
     margin: 15px;
     font-weight: bold;
     font-size: 23px;
     padding: 2px;
}

.location__parag {
     font-size: 15px;
     font-weight: 400;
     color: #A9A9A9;
}

.footer__phone-svg {
     color: var(--white-color);
     background-color: rgba(0, 0, 0, 0.65);
     text-align: center;
     display: inline-block;
     width: 272px;
     height: 228.39px;
     padding-block: 35px;
}

phone{
     margin-block: 5px;
}

.phone__call-us {
     margin: 15px;
     font-weight: bold;
     font-size: 23px;
     padding: 2px;
}

.ui-link {
     font-size: 15px;
     font-weight: 400;
}