.beautiful-landscapes__bg {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.beautiful-landscapes {
    margin-top: 0;
    padding: 90px 10px 60px;
    background-color: var(--background-dark-shade);
}

.beautiful-landscapes__text-content, 
.beautiful-landscapes__title-text {
    color: var(--landscapes-indicators-color);
}

.beautiful-landscapes__container {
    padding: 0 24px;
}

.beautiful-landscapes__heading {
    margin: 0 -15px;
}

.header-subtitle {
    margin-top: 20px;
    text-align: left;
    vertical-align: baseline;
    letter-spacing: 1.02px;
}

.beautiful-landscapes__text-light-color {
    color: var(--white-color);
}

.beautiful-landscapes__text-content {
    margin-top: 55px;
    font-weight: 400;
    line-height: 28.9px;
    font-size: 17px;
}

/* Pictures */

.carousel {
    margin-top: 45px;
}

.landscapes__carousel {
align-items: center;
justify-content: center;
gap: 5px;
position: relative;
margin-top: 45px;
padding-bottom: 70px;
}

.landscapes__carousel-btn-prev {
position: absolute;
background-attachment: scroll;
background-color: var(--white-color);
background-origin: padding-box;
border-radius: 50%;
border: 1px solid white;
cursor: pointer;
font-weight: 400;
width: 24px;
height: 24px;
opacity: .85;
padding: 0;
top: 35%;
transform: matrix(1, 0, 0, 1, 12, -12);
transition-duration: 0.2s;
transition-property: opacity;
transition-timing-function: ease-out;
z-index: 1;
}

.landscapes__carousel-btn-next {
    position: absolute;
    right: 25px;
    align-items: flex-start;
    background-attachment: scroll;
    background-color: var(--white-color);
    background-origin: padding-box;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    font-weight: 400;
    width: 24px;
    height: 24px;
    opacity: .85;
    padding: 0;
    top: 35%;
    transform: matrix(1, 0, 0, 1, 12, -12);
    transition-duration: 0.2s;
    transition-property: opacity;
    transition-timing-function: ease-out;
    z-index: 1;
}

.landscapes__carousel-button-prev {
    color: var(--black-color);
    cursor: pointer;
    fill: rgb(35, 36, 40);
    height: 12px;
    width: 12px;
    transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1);
}

.landscapes__carousel-button-next {
    color: var(--black-color);
    cursor: pointer;
    fill: rgb(35, 36, 40);
    height: 12px;
    width: 12px;
    vertical-align: 0;
}

.landscapes__carousel-slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 30px;  
    height: 100%;
    min-width: 58.67px;
    line-height: 28.9px;
    font-size: 17px;
    vertical-align: baseline;
}

.landscapes__carousel-indicators-btn {
    display: flex;
    justify-content: center;
}

.landscapes__carousel-indicators {
    display: flex;
    padding: 15px 0;
    margin-top: 10px;
    margin-block-start: 10px;
    font-size: 0;
    border-image-width: 1;
    position: static;
    text-align: center;
    gap: 18px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--background-dark-shade);
    transition: opacity .6s ease;
    width: 272px;
    color: var(--white-color);
    border-image-repeat: stretch;
}

.landscapes__carousel-indicator {
    align-items: flex-start;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--faq-accordion-background-grey-color);
    color: var(--white-color);
    cursor: pointer;
    opacity: .85;
}

.landscapes__carousel-indicator--active {
    background-color: var(--white-color);
}


/* quote */
.quote__wrapper {
    padding: 60px 10px 45px;
    margin-top: 50px;
}

.quote__symbol-line {
    position: relative;
    top: 25px;
    max-width: 100%;
    height: 1px;
}

.quote__symbol-line::before {
    content: "";
    font-size: 17px;
    position: absolute;
    display: block;
    width: 38%;
    height: 100%;
    opacity: .2;
    background-color: var(--white-color);
    line-height: 28.9px;
}

.quote__symbol {
    margin-bottom: 25px;
    color: var(--red-color);
    line-height: 28.9px;
    text-align: center;
}

.quote__symbol-line::after {
    content: "";
    font-size: 17px;
    position: absolute;
    display: block;
    right: 0px;
    width: 38%;
    height: 100%;
    opacity: .2;
    background-color: var(--white-color);
    line-height: 28.9px;
}

.quote__wrapper-inner {
    margin-top: 25px;
}

.quote__text {
    line-height: 33.84px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    vertical-align: baseline;
    color: var(--white-color);
    font-family: 'Playfair Display', serif;
}

.quote__autor {
    margin-top: 30px;
    color: rgba(255,255,255,0.6);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.51px;
    line-height: 28.9px;
    text-align: center;
    vertical-align: baseline;
}

.quote__wrapper-icon {
    position: relative;
    top: 25px;
    max-width: 100%;
    height: 1px;
}

.quote__wrapper-icon::after {
    content: "";
    font-size: 17px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .2;
    line-height: 28.9px;
    background-color: var(--white-color);
}

@media (min-width: 768px) {
    .container {
        padding: 0 32px;
    }
    .beautiful-landscapes {
        padding-top: 105px;
    }
    .landscapes__carousel-slide {
        gap: 0;
    }
    .landscapes__carousel-img {
        padding: 0 15px;
    }
    .carousel__slides {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .landscapes__carousel-btn-prev {
        height: 32px;
        width: 32px;
        left: 2%;
    }
    .landscapes__carousel-btn-next {
        height: 32px;
        width: 32px;
        right: 40px;
    }
    .landscapes__carousel-button-next {
        vertical-align: -5px;
        height: 20px;
        width: 20px;
    }
    .landscapes__carousel-button-prev {
        vertical-align: -5px;
        height: 20px;
        width: 20px;
    }
    .landscapes__carousel-indicators{
        margin-block-start: 20px;
        width: 704px;
    }
    .beautiful-landscapes__heading {
        display: flex;
        flex-direction: column;
        max-width: 64%;
    }
    .beautiful-landscapes__text-content {
        padding-right: 0;
        margin-top: 35px;
        margin-bottom: 0;
        letter-spacing: 0;
    }
    .quote__wrapper {
        margin-top: 0;
    }
    .quote__sign {
        height: 70px;
        width: 70px;
        font-size: 17px;
    }
    .quote__wrapper-inner {
        display: flex;
        justify-content: center;
    }
    .quote__wrapper-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 63%;
        position: relative;
    }
    .quote__text {
        font-size: 19px;
        line-height: 35.72px;
    }
    .quote__autor {
        margin-top: 10px;
        font-size: 17px;
    }
    .quote__symbol-line::before {
        top: 10px;
        line-height: 28.9px;
        text-align: center;
        width: 177.8px;
        left: 18%;
    }
    .quote__symbol-line::after {
        top: 10px;
        line-height: 28.9px;
        text-align: center;
        width: 177.8px;
        right: 18%;
    }
    .quote__wrapper-icon::after {
        width: 459.33px;
        left: 19%;
    }
    .quote__symbol {
        margin-bottom: -8px;
    }
}

@media (min-width: 997px) {
    .container {
        padding-left: 0 40px;
    }
    .beautiful-landscapes {
        padding-top: 120px;
    }
    .beautiful-landscapes__title {
        font-size: 13px;
        letter-spacing: 0.39px;
        line-height: 20.8px;
    }
    .header-subtitle {
        font-size: 45px;
        letter-spacing: 1.35px;
        line-height: 54px;
        margin-top: 10px;
    }
    .carousel__slides {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .landscapes__carousel-indicators {
        width: 927.2px;
    }
    .beautiful-landscapes__text-content {
        padding-left: 0;
    }
    .quote__text {
        font-size: 21px;
    }
    .quote__symbol-line::before {
        top: 10px;
        text-align: center;
        width: 252.2px;
    }
    .quote__symbol-line::after {
        top: 10px;
        text-align: center;
        width: 252.2px;
    }
    .quote__wrapper-icon::after {
        width: 608.13px;
    }
    .quote__text {
        line-height: 39.48px;
    }
}

@media (min-width: 1282px) {
    .landscapes__carousel-indicators {
        width: 1170px;
    }
    .quote__symbol-line::before {
        width: 333.14px;
    }
    .quote__symbol-line::after {
        width: 333.14px;
    }
    .quote__wrapper-icon::after {
        width: 770px;
    }
}