.places {
  background: url(../img/places-section/background_places.png) 50% 50%;
  background-size: cover;
  background-position: center; 
  background-color: var(--white-color); 
  padding: 60px 0 110px;
}

.places__container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1200px;
}

.header-subtitle {
  font-family: 'Playfair Display', serif;
  color: var(--main-text-dark-color);
  font-size: 34px;
}

.header-content__description {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 1em;
  margin-top: 25px;
}
/*

.tab {
    overflow: hidden;
    border: 1px solid #d8d8d8;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #9199ab;
  }
  
  .tab button.active {
    background-color: #ffffff;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ffffff;
    border-top: none;
  }
  */