.places {
  background-image: url(../img/places-section/background_places.png);
  background-size: 50% auto;
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-position: center;  
  padding: 60px 15px 90px 15px;
}

.places__container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1200px;
}

.header-subtitle {
  font-family: 'Playfair Display', serif;
  color: var(--main-text-dark-color);
  font-size: 34px;
}

.header-description {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 1em;
  margin-top: 25px;
  color: var(--text-gray-color)
}

.places__main-content {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.navigation-tab {
  clear: both;
  position: relative;   
  max-width: 650px;
  display: inline-flex;
  overflow: hidden;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -10px;
  margin-right: -10px;
  }
  
  .tablinks {
    font-weight: bold;
    float: left;
    border-bottom: 2px solid #d8d8d8;
    outline: none;
    cursor: pointer;
    padding: 15px 20px;
    transition: 0.3s;
    color: var(--caption-color-light-gray);
  }
  
  .tablinks:hover {
  border-bottom: 2px solid #ee2e14;
  color: var(--main-text-dark-color);
  }
  
  .tablinks.active {
  border-bottom: 2px solid #ee2e14;
  color: var(--main-text-dark-color);
  }
  
  .tabcontent {
  display: none;
  position: relative;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  }

  .tabcontent__destination-image {
    height: 327px;
    width: 212px;
  }
  /*
  .tabcontent__destination-subtitle {
    
  }
  */