/*#places {
  background-image: url(../img/places-section/background_places.png);
  background-size: cover;
  background-position: center; 
}

.places__container {
  padding-right: 24px;
  padding-left: 24px;
}

.header-content {
}

.header-subtitle {
}

.header-content__description {
}

.tab {
    overflow: hidden;
    border: 1px solid #d8d8d8;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #9199ab;
  }
  
  .tab button.active {
    background-color: #ffffff;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ffffff;
    border-top: none;
  }