.landscapes__carousel {
    display: grid;
    min-height: 700px;
    grid-template-columns: 40px 1fr 40px;
    gap: 5px;
    align-items: center;
}

.landscapes__carousel-slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
}