section.contact-us {
  background-color: #232428;
  color: #ffffff99;
  text-align: center;
  overflow-x: hidden;
  position: relative;
  min-height: 950px;
  padding: 110px 32px;
}

.contact-us-background {
  background-image: url(/img/contact_us/background.png);
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.contact-us-main {
  position: absolute;
  background-color: #232428;
  width: 50%;
  min-width: 350px;
  max-width: 1200px;
  color: #ffffff99;
  padding: 46px 52px;
}

span.contact-us__title-prefix {
    color: #ee2e14;
}

span.contact-us__title-text {
  font-size: 12px;
  text-transform: uppercase;
}

h2.contact-us__description-header {
  color: #ffffff;
  font-size: 39px;
  line-height: 1.2;
  font-family: 'Playfair Display', serif;
  margin: 20px 0;
}

p.contact-us__description-details {
  font-size: 17px;
  text-align: justify;
  text-align-last: center;
  margin: 25px 0;
}

form.contact-us__form input {
  display: block;
  margin: 10px auto;
  width: 100%;
  background-color: rgb(45, 46, 52);
  color: white;
  padding: 10px 20px; 
  margin-top: 12px;
  margin-bottom: 24px;
}

form.contact-us__form input::placeholder {
  color: rgb(155 156 158);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
}

.contact-us__form-date--input.datepicker-input {
  margin-top: 0px;
}

button.contact-us__form-button {
  background-color: #14a9ee;
  color: #ffffff;
  font-size: 14px;
  margin: 10px auto;
  padding: 10px 10px;
  width: 100%;
}

button.contact-us__form-button:hover {
  background-color: #ffffff;
  color: #232428;
}

.contact-us__form-date--label {
  position: relative;
  width: 100%;
}

.contact-us__form-date--label:before {
  content: "";
  position: absolute;
  right: 4%;
  top: 5px;
  bottom: 0;
  width: 16px;
  height: 40px;
  mask: url(/img/contact_us/calendar-icon.svg) no-repeat 50% 50%;
  -webkit-mask: url(/img/contact_us/calendar-icon.svg) no-repeat 50% 50%;
  background-color: rgb(155 156 158);
}

@media (max-width: 768px) {
  .contact-us-main {
    width: 90%;
  }
}