.beautiful-landscapes {
    margin-top: 50px;
    padding-top: 90px;
    padding-right: 10px;
    padding-bottom: 60px;
    padding-left: 10px;
    background-color: var(--background-dark-shade);
}

.beautiful-landscapes__text-content, 
.beautiful-landscapes__title-text {
    color: rgba(255,255,255,0.6);
}

.beautiful-landscapes__container {
    padding-right: 24px;
    padding-left: 24px;
}

.beautiful-landscapes__heading {
    margin-right: -15px;
    margin-left: -15px;
}

.header-subtitle {
    margin-top: 20px;
    text-align: left;
    vertical-align: baseline;
    letter-spacing: 1.02px;
}

.beautiful-landscapes__text-light-color {
    color: var(--white-color);
}

.beautiful-landscapes__text-content {
    margin-top: 55px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -10px;
    margin-right: -10px;
    font-weight: 400;
    line-height: 28.9px;
    font-size: 17px;
    letter-spacing: 0.51px;
}

/* Pictures */

.carousel {
    margin-top: 45px;
    /* margin-left: -15px;
    margin-right: -15px; */
    /* padding-right: 15px;
    padding-left: 15px; */
}

.carousel__slides-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
}

.landscapes__carousel {
/* min-height: 350px; */
/* display: grid;
grid-template-columns: 40px 1fr 40px;
align-items: center;
gap: 5px; */
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
/* padding-left: 15px;
padding-right: 15px; */
position: relative;
margin-top: 45px;
padding-bottom: 80px;
}

.landscapes__carousel-btn-prev {
position: absolute;
text-align: center;
align-items: flex-start;
background-attachment: scroll;
background-color: var(--white-color);
background-origin: padding-box;
border-radius: 50%;
border: 1px solid white;
cursor: pointer;
font-weight: 400;
width: 24px;
height: 24px;
/* margin-top: -15px; */
opacity: .85;
padding: 0;
top: 35%;
left: 7%;
transform: matrix(1, 0, 0, 1, 12, -12);
transition-duration: 0.2s;
transition-property: opacity;
transition-timing-function: ease-out;
writing-mode: horizontal-tb;
z-index: 1;
}

.landscapes__carousel-btn-next {
    /* display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    text-align: center;
    z-index: 1;
    color: white;
    transition: opacity .15s ease;
    cursor: pointer;
    opacity: .75;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    padding: 6px;
    border-radius: 50%;
    background-color: white; */
    position: absolute;
    text-align: center;
    right: 17%;
    align-items: flex-start;
    background-attachment: scroll;
    background-color: var(--white-color);
    background-origin: padding-box;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    font-weight: 400;
    width: 24px;
    height: 24px;
    opacity: .85;
    padding: 0;
    top: 35%;
    transform: matrix(1, 0, 0, 1, 12, -12);
    transition-duration: 0.2s;
    transition-property: opacity;
    transition-timing-function: ease-out;
    writing-mode: horizontal-tb;
    z-index: 1;
}

.landscapes__carousel-button-prev {
    color: var(--black-color);
    cursor: pointer;
    fill: rgb(35, 36, 40);
    height: 12px;
    text-align: center;
    transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1);
    width: 12px;
    writing-mode: horizontal-tb;
    /* position: absolute; */
    /* top: 144px;
    right: 248px;
    bottom: 105px;
    margin-top: -15px; */
    /* transform: rotate(180deg);
    z-index: 1;
    cursor: pointer; */
    /* writing-mode: horizontal-tb; */
    /* border-radius: 50%;
    border: 1px solid white; */
    /* width: 24px;
    height: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    opacity: .85; */
}

.landscapes__carousel-button-next {
    color: var(--black-color);
    cursor: pointer;
    fill: rgb(35, 36, 40);
    height: 12px;
    text-align: center;
    width: 12px;
    writing-mode: horizontal-tb;
    /* position: absolute; */
    /* right: 248px;
    top: 144px;
    bottom: 135px;
    margin-top: -15px; */
    /* z-index: 1;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid white;
    width: 24px;
    height: 24px;
    background-color: var(--white-color);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    opacity: .85; */
}

.landscapes__carousel-slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 30px;  
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
}

.landscapes__carousel-indicators-btn {
    display: flex;
    justify-content: center;
}

.landscapes__carousel-indicators {
    display: flex;
    padding: 15px 0;
    margin-top: 10px;
    bottom: -25px;
    margin-block-start: 10px;
    font-size: 0;
    border-image-width: 1;
    position: static;
    text-align: center;
    gap: 18px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--background-dark-shade);
    transition: opacity .6s ease;
    width: 272px;
    color: var(--white-color);
    border-image-repeat: stretch;
    -webkit-tap-highlight-color: var(--black-color);
    -webkit-font-smoothing: antialiased;
    /* width: 272px;
    line-height: 0px;
    font-weight: 400px; */
}

.landscapes__carousel-indicator {
    align-items: flex-start;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--faq-accordion-background-grey-color);
    color: var(--white-color);
    cursor: pointer;
    opacity: .85;
}

.landscapes__carousel-indicator--active {
    background-color: var(--white-color);
}
/* .carousel__image {
    height: 244px;
    width: 272px;
} */

/* quote */
.quote__wrapper {
    padding-top: 50px;
    padding-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    margin-left: -15px;
    margin-right: -15px;
}

.quote__symbol-line {
    position: relative;
    top: 25px;
    max-width: 100%;
    height: 1px;
}

.quote__symbol-line::before {
    content: "";
    font-size: 17px;
    position: absolute;
    display: block;
    width: 38%;
    height: 100%;
    opacity: .2;
    background-color: var(--white-color);
    line-height: 28.9px;
}

.quote__symbol {
    margin-bottom: 25px;
    color: var(--red-color);
    line-height: 28.9px;
    text-align: center;
}

.quote__symbol-line::after {
    content: "";
    font-size: 17px;
    position: absolute;
    display: block;
    right: 0px;
    width: 38%;
    height: 100%;
    opacity: .2;
    background-color: var(--white-color);
    line-height: 28.9px;
}

.quote__wrapper-inner {
    padding-left: 17px;
    padding-right: 17px;
    margin-top: 25px;
}

.quote__text {
    line-height: 33.84px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    /* text-decoration: solid; */
    vertical-align: baseline;
    color: var(--white-color);
    font-family: 'Playfair Display', serif;
}

.quote__autor {
    margin-top: 30px;
    color: rgba(255,255,255,0.6);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.51px;
    line-height: 28.9px;
    text-align: center;
    vertical-align: baseline;
}

.quote__wrapper-icon {
    position: relative;
    top: 25px;
    max-width: 100%;
    height: 1px;
}

.quote__wrapper-icon::after {
    content: "";
    font-size: 17px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .2;
    line-height: 28.9px;
    background-color: var(--white-color);
}

@media (min-width: 768px) {
    .carousel__slides {
        display: grid;
        /* flex-direction: column; */
        grid-template-columns: 1fr 1fr;
    }
    .landscapes__carousel-btn-prev {
        height: 32px!important;
        width: 32px!important;
        left: 5%!important;
    }
    .landscapes__carousel-btn-next {
        height: 32px!important;
        width: 32px!important;
        right: 8%!important;
    }
    .landscapes__carousel-indicators{
        margin-block-start: 20px;
        width: 704px;
    }
    .beautiful-landscapes__heading {
        display: flex;
        flex-direction: column;
        max-width: 64%;
    }
    .beautiful-landscapes__text-content {
        padding-right: 0;
    }
    .quote__wrapper {
        margin-top: 0;
    }
    .quote__sign {
        height: 70px;
        width: 70px;
        font-size: 17px;
    }
    .quote__wrapper-inner {
        display: flex;
        justify-content: center;
    }
    .quote__wrapper-text {
        display: flex;
        flex-direction: column;
        max-width: 425px;
        justify-content: center;
    }
    .quote__text {
        font-size: 19px;
        line-height: 35.72px;
    }
    .quote__autor {
        margin-top: 10px;
        font-size: 17px;
    }
    .quote__symbol-line::before {
        top: 10px;
        line-height: 28.9px;
        text-align: center;
        width: 177.8px;
        left: 18%;
    }
    .quote__symbol-line::after {
        top: 10px;
        line-height: 28.9px;
        text-align: center;
        width: 177.8px;
        right: 18%;
    }
    .quote__wrapper-icon::after {
        width: 459.33px;
        left: 19%;
    }
}

@media (min-width: 991px) {
    .beautiful-landscapes__title {
        font-size: 13px;
        letter-spacing: 0.39px;
        line-height: 20.8px;
    }
    .header-subtitle {
        font-size: 45px;
        letter-spacing: 1.35px;
        line-height: 54px;
    }
    .carousel__slides {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .landscapes__carousel-indicators {
        width: 927.2px;
    }
    .beautiful-landscapes__text-content {
        padding-left: 0;
    }
    .quote__text {
        font-size: 21px;
    }
    .quote__symbol-line::before {
        top: 10px;
        text-align: center;
        width: 252.2px;
    }
    .quote__symbol-line::after {
        top: 10px;
        text-align: center;
        width: 252.2px;
    }
    .quote__wrapper-icon::after {
        width: 608.13px;
    }
    .quote__text {
        line-height: 39.48px;
    }
}

@media (min-width: 1282px) {
    .landscapes__carousel-indicators {
        width: 1170px;
    }
    .quote__symbol-line::before {
        width: 333.14px;
    }
    .quote__symbol-line::after {
        width: 333.14px;
    }
    .quote__wrapper-icon::after {
        width: 770px;
    }
    .quote__wrapper-text {
        max-width: 80%;
    }
}