#faq {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    background-color: var(--faq-background-dark-color);
    color: var(--faq-background-white-color);
    padding: 60px 0 130px 0;
}

.faq__container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1200px;
}

/* Header Styles */
.header-content__title-prefix {
    color: var(--faq-title-prefix-red-color);
}

/* h2 {
    color:#A7A7A9;
} */

.subtitle {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    margin-top: 20px;
}


.shadow {
    color:var(--faq-shadow-grey-color);
}

.plain-text {
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 1em;
    margin-top: 25px;
    color: var(--faq-plain-text-lightgrey-color);
}

.question-answer__block {
    margin-top: 2em;
}

.question {
    margin-bottom: 0.5em;
    cursor: pointer;
}

.answer {
    color: var(--faq-answer-grey-color);
    font-size: 15px;
    margin-top: 20px;
    line-height: 1.6;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    cursor: pointer;
}
.plus-minus {
    cursor: pointer;
}
.accordion {
    padding: 20px 0;
    position: relative;
}
.accordion::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: var(--faq-accordion-background-grey-color);
}

.faq__right {
    height: 100%;  /* Or any specific height you'd like */
    overflow: hidden;  /* Hide the overflowing parts of the image */
}

.faq__right img {
    width: 100%;
    height: 100%;  /* Make the image take up all available space */
    object-fit: cover;
    object-position: 39.903% 50%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .faq__left,
    .faq__right {
        flex: 0 0 100%;
    }
}

@media (min-width: 769px) {
    .faq__left,
    .faq__right {
        flex: 1;
    }
}
.faq__left,.faq__right {
    padding: 0 45px;
}
