.about-us__background {
    background-image: url(../img/about-us/norway-wave.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.about-us__divider {
    font-size: 12px;
    color: var(--red-color);
    font-weight: bold;
    margin-right: 5px;
}

.us__title {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--text-gray-color);
    font-weight: 500;
    text-transform: uppercase;
}

.about-us__title {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 800;
    color: var(--main-text-dark-color);
    background-color: var(--white-color);
    line-height: 46.8px;
}

.ten-days {
    color: var(--brand-blue-color);
}

.us__prefix {
    display: block;
}

.us__description {
    display: block;
}

.about-us__offers {
    background-color: var(--white-color);
    margin-bottom: 0;
    padding: 130px 0px  40px 0px;
    display: flex;
    flex-direction: column;
}

.divider__title {
    margin-bottom: 20px;
    display: flex;
}

.us__tours {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: var(--main-text-dark-color);
    line-height: 32.3px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.about-us__instructions {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: normal;
    padding: 90px 0px 400px 0px;
    margin: 0px 70px;
}

.instructions__card{
    background-color: var(--white-color);
    height: 315px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%; 
    max-width: 370px; 
}

.instructions__steps {
    width: 50%;
    height: auto;
}

.us__steps {
    font-size: 22px;
    font-weight: 500;
}

.us__text {
    font-size: 14px;
    line-height: 22.4px;
    color: var(--main-text-dark-color);
}

@media (min-width:767px) {
    .about-us__offers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .about-us__title {
        font-size: 39px;
        line-height: 46.8px;
    }

    .about-us__instructions {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        align-items: stretch;
    }

    .instructions__card {
        width: calc(50% - 20px);
    }
}