.tour-itinerary{
    background-image: url(../img/tour_itinerary/background.png);
    color: var(--subt-dark-background-color);
    padding: 3%;
}
.tour-itinerary__info{
    padding-right: 20px;
}
.tour-itinerary__description span{
    color: var(--white-color);
}
.tour-itinerary__title{
    font-size: 12px;
}
.tour-itinerary__description-title{
    font-size: 39px;
}
.tour-itinerary__description-paragraf{
    font-size: 17px;
}
.tour-itinerary__item img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}
.tour-itinerary__item{
    display: inline-flex;
    flex-flow: nowrap;
}
.tour-itinerary__item span{
    color: var(--white-color);
    font-size: 18px;
}
.tour-itinerary__item p{
    font-size: 14px;
}

@media (min-width: 768px){
    .tour-itinerary{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}