.blog {
  width: 100%;
  padding: 90px 0 70px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.blog__header {
  text-align: center;
  width: 100%;
  font-size: 19px;
  font-weight: 300;
  line-height: 32px;
}

.header-content__title {
  margin-top: 10px;
  text-align: center;
}

.header-content__text {
  margin: 25px auto;
  max-width: 720px;
  padding: 25px 0 15px;
}

.blog__posts-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.blog__post {
  width: 100%;
  color: var(--background-dark-shade);
  overflow: hidden;
}

.post-item__img-wrapper {
  height: 50%;
  width: 100%;
}

.post-item__image {
  height: 100%;
  object-fit: cover;
}

.post-item__date {
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
}

.post-item__subtitle {
  font-size: 22px;
  line-height: 34px;
}

.post-item__text {
  font-size: 17px;
  line-height: 30px;
  color: var(--text-gray-color);
}

@media (min-width: 450px) {
  .post-item__img-wrapper {
    height: 60%;
  }
}

@media (min-width: 550px) {
  .post-item__img-wrapper {
    height: 70%;
  }
}

@media (min-width: 768px) {
  .blog {
    padding: 110px 0 70px;
  }

  .blog__posts-container {
    flex-direction: row;
    gap: 50px;
  }

  .blog__posts-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px;
  }

  .post-item__img-wrapper {
    height: 50%;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .blog {
    padding: 125px 0 70px;
  }

  .blog__posts-container {
    flex-direction: row;
    gap: 50px;
  }
}