.tour-itinerary{
    background-image: url(../img/tour_itinerary/background.png);
    color: var(--subt-dark-background-color);
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 90px;
    padding-top: 90px;
}
.tour-itinerary__info{
    padding-right: 20px;
    padding-left: 15px;
}
.tour-itinerary__description span{
    color: var(--white-color);
}
.tour-itinerary__title{
    font-size: 12px;
}
.tour-itinerary__description-title{
    font-size: 39px;
}
.tour-itinerary__description-paragraf{
    font-size: 17px;
    margin-top: 25px;
}
.tour-itinerary__item img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    margin-top: 15px;
}
.tour-itinerary__item{
    display: inline-flex;
    flex-flow: nowrap;
}
.tour-itinerary__item span{
    color: var(--white-color);
    font-size: 18px;
}
.tour-itinerary__item p{
    font-size: 14px;
}

@media (min-width: 768px){
    .tour-itinerary{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 990px){
    .tour-itinerary__title{
        font-size: 13px;
    }
    .tour-itinerary__description-title{
        font-size: 45px;
    }
    .tour-itinerary__item span{
        font-size: 21px;
    }
    .tour-itinerary__item p{
        font-size: 15px;
    }
    .tour-itinerary__map-description{
        width: 369px;
    }
}