.about-norway {
    padding-left: 15px;
    padding-right: 15px;
}

.about-norway__letter{
    background-image: url('../img/about_norway/forest-grey.jpg');
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align:center;
    font-weight:bold;
    font-size: 400px;
    height: 440px;
}

.about-norway__letter-with-image {
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto
}

.about-norway__title-prefix {
    font-weight: bold;
}
.about-norway__title{
    font-size: 12px;
}
.about-norway__subtitle {
    font-size: 39px;
    color: var(--main-text-dark-color);
}
.about-norway__description-title{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 25px;
    margin-right: 25px;
}
.about-norway__description{
    font-size: 19px;
}
.about-norway__description-famous{
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.about-norway__fact-number {
    font-size: 60px;
    color: var(--background-dark-shade);
}
.about-norway__fact-number, .about-norway__fact-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-norway__video {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-norway__video iframe{
    width: 400px;
    height: 225px;
}
@media (min-width: 768px){
   .about-norway__title-description{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   }
   .about-norway__fact-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    .about-norway__video iframe{
        width: 740px;
        height: 415px;
    }
}
@media(min-width: 992px){
    .about-norway__fact-list{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}